---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/book/5cf5805fb53e011a64671582/chapter
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content:
      - application/json
      Authorization:
      - Bearer <FAKE_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '91'
      X-Ratelimit-Reset:
      - '1664316637'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"675-iXg80ZsIdvczXhUXR6iRuH0S8jY"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"6091b6d6d58360f988133b8b","chapterName":"A Long-expected
        Party"},{"_id":"6091b6d6d58360f988133b8c","chapterName":"The Shadow of the
        Past"},{"_id":"6091b6d6d58360f988133b8d","chapterName":"Three is Company"},{"_id":"6091b6d6d58360f988133b8e","chapterName":"A
        Short Cut to Mushrooms"},{"_id":"6091b6d6d58360f988133b8f","chapterName":"A
        Conspiracy Unmasked"},{"_id":"6091b6d6d58360f988133b90","chapterName":"The
        Old Forest"},{"_id":"6091b6d6d58360f988133b91","chapterName":"In the House
        of Tom B[...]
