---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/book?limit=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content:
      - application/json
      Authorization:
      - Bearer <FAKE_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '43'
      X-Ratelimit-Reset:
      - '1664312437'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"83-xoy1/NoV2aPt0obFDRmbEYBnYRg"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cf5805fb53e011a64671582","name":"The Fellowship Of
        The Ring"}],"total":3,"limit":1,"offset":0,"page":1,"pages":3}'
  recorded_at: Tue, 27 Sep 2022 20:54:49 GMT
recorded_with: VCR 6.1.0
