---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/quote/5cd96e05de30eff6ebcce7e9
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content:
      - application/json
      Authorization:
      - Bearer <FAKE_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '21'
      X-Ratelimit-Reset:
      - '1664316037'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"df-Etbq97HUr1MjbIvpipi+zF6omKE"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd96e05de30eff6ebcce7e9","dialog":"Deagol!","movie":"5cd95395de30eff6ebccde5d","character":"5cd99d4bde30eff6ebccfe9e","id":"5cd96e05de30eff6ebcce7e9"}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Tue, 27 Sep 2022 21:57:25 GMT
recorded_with: VCR 6.1.0
