---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/chapter/6091b6d6d58360f988133b8b
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content:
      - application/json
      Authorization:
      - Bearer <FAKE_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '8'
      X-Ratelimit-Reset:
      - '1664317237'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa-1LOCPdl7x1fxtGtXKxyYvtIBYvU"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"6091b6d6d58360f988133b8b","chapterName":"A Long-expected
        Party","book":"5cf5805fb53e011a64671582"}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Tue, 27 Sep 2022 22:18:01 GMT
recorded_with: VCR 6.1.0
