---
http_interactions:
- request:
    method: get
    uri: https://the-one-api.dev/v2/character/5cd99d4bde30eff6ebccfbbe
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content:
      - application/json
      Authorization:
      - Bearer <FAKE_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '40'
      X-Ratelimit-Reset:
      - '1664312437'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"10c-ixI82gbcGVrLfqtvTDoDqdk2fUc"
    body:
      encoding: UTF-8
      string: '{"docs":[{"_id":"5cd99d4bde30eff6ebccfbbe","height":"","race":"Human","gender":"Female","birth":"","spouse":"Belemir","death":"","realm":"","hair":"","name":"Adanel","wikiUrl":"http://lotr.wikia.com//wiki/Adanel"}],"total":1,"limit":1000,"offset":0,"page":1,"pages":1}'
  recorded_at: Tue, 27 Sep 2022 20:54:52 GMT
recorded_with: VCR 6.1.0
